@import './variables.scss';

.btn {
    appearance: none;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;

    &--primary,
    &--active {
        background-color: $primaryColor;
        color: $black;
    }

    &--disabled {
        background-color: $black;
        color: $white
    }
    
    &--small {
        height: $btnSmallHeigh;
        width: $btnSmall;
    }

    &--medium {
        width: $btnMedium;
    }

    &--big {
        height: $btnBigHeigh;
        width: $btnBig;
    }
}