@import './variables.scss';

.hero {
    align-items: center;
    background-color: $black;
    border-radius: 0px 0px 24px 24px;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 616px;
    justify-content: center;
    padding: 160px 32px 0;
    margin-bottom: 9rem;

    @media (min-width: $desktop-bp) {
        height: 700px;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 6rem;
        padding: 0px 32px 0;
    }

    &--left {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;

        @media (min-width: $desktop-bp) {
            align-items: start;
        }
    }

    &--right {
        height: auto;
        width: auto;

        @media (min-width: $desktop-bp) {
            padding-top: 260px;
        }
    }

    &__title {
        font-size: 2rem;
        margin: 0 0 3rem;
        text-align: center;

        @media (min-width: $desktop-bp) {
            font-size: 4rem;
        }
    }

    p {
        margin: 0 0 32px;
        text-align: center;
        max-width: 350px;

        @media (min-width: $desktop-bp) {
            text-align: left;
        }
    }

    button {
        height: $btnBigHeigh;
        width: $btnMedium;

        @media (min-width: $desktop-bp) {
            width: $btnBig;
        }
    }
}