@import './variables.scss';

.list-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .5rem;

    @media (min-width: $desktop-bp) {
        justify-content: space-between;
        margin-bottom: 1.3rem;
    }

    &__item {
        margin-bottom: 24px;
        overflow: hidden;

        @media (min-width: $desktop-bp) {
            flex: 0 0 387px;

            &:hover {
                .list-images__author {
                    height: 55px;
                }

                .list-images__img {
                    transform: translate3d(0, -5px, 0);
                }
            }
        }
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        transition: transform .5s ease-in-out;
    }
    
    &__number {
        background-color: rgba(17, 17, 17, 0.8);
        border-radius: 100px;
        color: $white;
        font-size: 2rem;
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 10px 20px;
        z-index: 10;
    }

    &__author {
        border: 1px solid $lightGray;
        background-color: $white;
        display: block;
        font-size: 2rem;
        height: 55px;
        line-height: 55px;
        margin-top: -4px;
        padding-left: 1rem;

        @media (min-width: $desktop-bp) {
            border: 0;
            height: 0;
            transition: height .5s ease;
            position:absolute;
            left:0;
            bottom:0;
            right: 0
        }
    }
}