@import './variables.scss';

.list-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        background-color: #ccc;
        height: 337px;
        margin-bottom: 24px;
        width: 100%;
        max-width: 387px;

        @media (min-width: $desktop-bp) {
            flex: 0 0 33%;
        }
    }
}