@import './variables.scss';

.search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: $desktop-bp) {
        flex-direction: row;
        margin-bottom: 40px;
    }

    &__input-wrap {
        margin-bottom: 1rem;
        position: relative;
        width: 100%;

        @media (min-width: $desktop-bp) {
            margin-bottom: 0;
            margin-right: 2rem;
            max-width: $inputSearchMaxWidth;
        }
    }

    &__btn {
        appearance: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: $inputSmallHeight;
        position: absolute;
        right: 14px;

        @media (min-width: $desktop-bp) {
            height: $inputBigHeight;
        }
    }

    &__input {
        padding: 0 10px 0 22px;
        border: 1px solid $midGray;
        border-radius: 8px;
        font-size: 1rem;
        height: $inputSmallHeight;
        padding-right: 2.5rem;
        width: 100%;

        @media (min-width: $desktop-bp) {
            height: $inputBigHeight;
        }
    }

    &__btns-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            height: $btnFilterSmallHeight;

            @media (min-width: $desktop-bp) {
                height: $btnFilterBigHeight;
                margin-right: 1rem;
            }
            
        }
    }
}